{% extends 'base.html' %} {% block content %}
<h1 class="title">Item List</h1>
<a href="{% url 'item_create' %}" class="button is-primary mb-4">
  <span class="icon">
    <i class="fas fa-plus"></i>
  </span>
  <span>Add New Item</span>
</a>
<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.description }}</td>
      <td>
        <a
          href="{% url 'item_update' item.id %}"
          class="button is-small is-info"
        >
          <span class="icon">
            <i class="fas fa-edit"></i>
          </span>
          <span>Edit</span>
        </a>
        <a
          href="{% url 'item_delete' item.id %}"
          class="button is-small is-danger"
        >
          <span class="icon">
            <i class="fas fa-trash"></i>
          </span>
          <span>Delete</span>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
